/* Smartphone */
@import url(mobile.css) (max-width: 600px);

/* Monitor */
@import url(monitor.css) (min-width: 601px);

/* IMPORTED GOOGLE FONTS */
.roboto-website {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Global Variables */
:root {
    --text-color: #f7f4f4;
}

/* Body & Other Settings*/
body, html {
    font-family: "Roboto";
    height: 100%;
    margin: auto;
    background-color: #161B33;
    color: var(--text-color);
}

ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;
}

ol {
    list-style-position: inside;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Across media */
#page {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#major_updates a {
    text-decoration: underline;
}

#research_products a {
    text-decoration: underline;
}

/* Custom Bullet Points */
.publication {
    list-style: none;
}

.publication::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('icons/site-icons_Publication.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin-right: 0.5em;
}

.academic {
    list-style: none;
}

.academic::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('icons/site-icons_Teaching.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

.location {
    list-style: none;
}

.location::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('icons/site-icons_Location.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

.university {
    list-style: none;
}

.university::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('icons/site-icons_University.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

.address {
    list-style: none;
}

.address::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('icons/site-icons_Location.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

.email {
    list-style: none;
}

.email::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('icons/site-icons_Email.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

.social {
    list-style: none;
}

.social::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('icons/site-icons_Social.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}
