/* IMPORTED GOOGLE FONTS */
@font-face {
    font-family: 'Robot Mono';
    src: url('fonts/RobotoMono-Italic-VariableFont_wght.ttf');
}

/* Global variables */
:root {
   
}

/* Non-Classes and general tags */

body, html {
    height: 100%;
    overflow-x: hidden; /* There's a horizontal scrollbar without this */
    font-family: Verdana, Helvetica, Arial, monospace;
    color: white;
    background-color: #313131;
    margin: 0px 0px;
}

/* header styles */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
}

/* a styles */
a:link {
    color: cyan;
}

a:visited {
    text-decoration: none;
    color: rgb(17, 194, 194);
}

/* img style */
img, iframe {
    border-style: solid;
    border-radius: 8px;
}

/* Classes */
/* Backgrounds for different sections */
.background {
    --padding: 5px;
    --margin-hor: 15px;
    --margin-vert: 15px;
    --color: #555454;
    background-color: var(--color);
    font-size: 30px;
    border-radius: 8px;
    padding: var(--padding);
    margin: var(--margin-vert) var(--margin-hor);
}

.background p, .background a {
    text-align: left;
    margin-left: 15px;
}

/* Grid Layout 1 */
.container-aboutme {
    display: grid;
    grid-template-columns: .5fr 2.5fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;

}

.item-text-aboutme {
    text-align: left;
    /* row start / col start / row end / col end */
    grid-area: 1 / 2;
}

.item-image-aboutme {
    display: block;
    position: relative;
    grid-area: 1 / 1;
    margin-left: 15px;
    margin-top: 25px;
}

/* Grid Layout 2 */
.container-projects {
    display: grid; 
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

/* Images/iframes within a grid element with other elements */
.item-subimage {
    display: block;
    margin: auto;
}

/* id tags */
/* Hero Image AND Hero Text for image */
#hero-image {
    background-image: url("images/AnotherMask.png");
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: top;
    background-repeat:no-repeat;
    background-size: cover;
    position: sticky;
}

#hero-text {
    font-family: 'Robot Mono', monospace;
    text-align: center;
    position: absolute;
    font-size: 2.5rem;
    transform: translate(-50%, -50%); /* Moves movement point to the center of the textbox */
    top: 50%;
    left: 50%;
    color: white;
}

/* Animation which will tell the user to scroll down for more after 4 seconds of idling */
#hero-guide {
    font-family: 'Robot Mono', monospace;
    text-align: center;
    position: absolute;
    opacity: 0;
    transform: translate(-50%); 
    font-size: 2vw;
    top: 90%;
    left: 50%;
    color: white;
    animation-name: guideAnim;
    animation-duration: 2s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;

}

@keyframes guideAnim {
    from {opacity: 0}
    to {opacity: 1;}
}

/* Navigation Panel */
#navbar {
    position: sticky;
    top: 0px;
    width: 100vw;
    background-color: #313131;
    z-index: 2;
    padding-top: 10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0px 0px;
    padding-top: 0px;
    padding-bottom: 10px;
}

#navbar li {
    display: inline;
    font-size: 1.5em;
    margin: 1em 1em;
}

#navbar li a {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

#navbar p {
    display: inline;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    margin: 1em 1em;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

/* Make mobile friendly */
@media screen and (max-width: 1280px) {
    /* Grid Layout 2 */
    .container-projects {
        grid-template: repeat(3, fit-content(100%)) / repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){

    /* Global variables */
    :root {
        --padding: 0px;
        --margin-hor: 0px;
    }

    /* Make paragraph text smaller */
    .background p, .background a {
        font-size: 70%;
        margin: 10px auto;
    }

    ul {
        margin-block-start: auto;
        padding-inline-start: 0px;
    }

    /* img style */
    img, iframe {
        height: fit-content;
        width: fit-content;
    }

    /* Grid Layout 1 */
    .container-aboutme {
        grid-template-rows: 200px fit-content(100%);
        grid-template-columns: 1fr;
    }

    .item-text-aboutme {
        /* row start / col start / row end / col end */
        grid-area: 2 / 1;
        padding: auto;
    }

    .item-image-aboutme {
        display: block;
        margin: auto;
    }

    /* Grid Layout 2 */
    .container-projects {
        grid-template: repeat(6, fit-content(100%)) / 100%;
    }

    /* id tags */
    #hero-text {
        font-size: 1rem;
    }

    /* Animation which will tell the user to scroll down for more after 4 seconds of idling */
    #hero-guide {
        font-size: 100%;
    }

    /* Navigation Panel */
    #navbar ul {
        padding-left: 0%;
    }

    #navbar li {
        font-size: .75em;
        margin: .5em .5em;
    }

    #navbar p {
        font-size: .75em;
        margin: .5em .5em;
    }
}